header {
  height: 70px;
  width: 100%;
  border-bottom: #CCCCCC 1px solid;
}

.logo {
  background-image: url("../images/logo.png");
  background-position: 20px;
  vertical-align: middle;
  background-position: left center;
  height: 100%;
  background-repeat: no-repeat;
}
